/* ALL */

.title {
  font-family: 'Knewave', cursive;
  color: orange;
}

.section {
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .desktop {
    width: calc(100% - 200px);
    margin: 0 auto;
  }
}

/* NAV */

/* HOME */

#home_top {
  background: grey;
  height: 40vh;
  padding: 0 20px;
}

#home_top .title {
  font-size: 50px;
  padding-top: 60px;
}

#home_middle {
  background-color: rgba(176, 245, 102, 1.00);
  height: 70vh;
}

#home_bottom {
  background-color: rgba(92, 201, 245, 1.00);
  height: 70vh;
}

@media only screen and (min-width: 768px) {
  #home_top {
    height: 50vh;
    padding: 20px;
  }
  #home_top .title {
    font-size: 100px;
  }
}

/*FOOD*/

@media only screen and (min-width: 768px) {}

/*ACTIVITIES*/

@media only screen and (min-width: 768px) {}

/*MUSIC*/

@media only screen and (min-width: 768px) {}

/* YOUR FAM */

#fam_btn {
  font-size: 30px;
}

div.fam {
  display: none;
}

div.fam img {
  width: 300px;
  height: auto;
}

@media only screen and (min-width: 768px) {}

/* CONTACT */


#bio_helen {
  background-color: blue;
}

#bio_josie {
  background-color: orange;
}

#bio_zainab {
  background-color: green;
}

@media only screen and (min-width: 768px) {}

/* FOOTER */

footer {
  padding: 10px;
  background: rgba(52, 58, 64, 1.00);
  color: #fff;
}

i {
  padding: 5px;
  color: #fff;
}

#copyright p {
  font-size: 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {}
