/* YOUR FAM */

button {
  background-color: green;
}

div.fam {
  display: none;
}

div.fam img {
  width: 300px;
  height: auto;
}

/* CONTACT */

#bio_helen {
  background-color: blue;
}

#bio_josie {
  background-color: orange;
}

#bio_zainab {
  background-color: green;
}
