/* ALL */

.title {
  font-family: 'Knewave', cursive;
}

.the_chill {
  color: #fff;
}

.the_f {
  color: rgba(0, 141, 85, 1.00);
}

.the_a {
  color: rgba(218, 152, 92, 1.00);
}

.the_m {
  color: rgba(205, 67, 72, 1.00);
}

.section {
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .desktop {
    width: calc(100% - 200px);
    margin: 0 auto;
  }
}

/* NAV */
/*
.fa-utensils {
  color: rgba(0, 141, 85, 1.00);
}

.fa-table-tennis {
  color: rgba(218, 152, 92, 1.00);
}

.fa-music {
  color: rgba(205, 67, 72, 1.00);
}
*/
/* HOME */

#home_top {
  background: rgba(170, 178, 191, 1.00);
  height: 40vh;
  padding: 0 20px;
}

#home_top .title {
  font-size: 50px;
  padding-top: 60px;
}

#home_middle {
  background-color: rgba(176, 245, 102, 1.00);
  height: 70vh;
}

#home_bottom {
  background-color: rgba(92, 201, 245, 1.00);
  height: 70vh;
}

@media only screen and (min-width: 768px) {
  #home_top {
    height: 50vh;
    padding: 20px;
  }
  #home_top .title {
    font-size: 100px;
  }
}

/* ALL FAM */

.fam_top {
  font-size: 30px;
}

.fam_top h1 {
  font-size: 50px;
}

.fam_top p {
  color: rgba(140, 159, 179, 1.00);
  line-height: 30px;
}

/*FOOD*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img-fluid {
  height: 295px
}

@media only screen and (min-width: 768px) {}

/*ACTIVITIES*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img-fluid {
  height: 295px
}

@media only screen and (min-width: 768px) {}

/*MUSIC*/

@media only screen and (min-width: 768px) {}

/* YOUR FAM */

#fam_btn {
  font-size: 30px;
  margin: 50px 0 70px 0;
  padding: 20px;
  background-color: rgba(170, 178, 191, 1.00)
}

#fam_btn:hover {
  background-color: rgba(39, 44, 53, 1.00);
}

div.fam, .card-deck {
  display: none;
}

div.fam img {
  height: 200px;
  width: auto;
}

.card-deck {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {}

/* CONTACT */

#bio_helen {
  background-color: rgba(0, 141, 85, 1.00);
}

#bio_josie {
  background-color: rgba(218, 152, 92, 1.00);
}

#bio_zainab {
  background-color: rgba(205, 67, 72, 1.00);
}

.bio_pic {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .bio {
    margin-right: 10px;
    max-width: 320px;
  }
  #bio_zainab {
    margin-right: 0;
  }

  /* FOOTER */
  footer {
    padding: 10px;
    background: rgba(52, 58, 64, 1.00);
    color: #fff;
  }
  i {
    padding: 5px;
    color: #fff;
  }
  #copyright p {
    font-size: 16px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 768px) {}
