<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">Chill,
    <span class="the_f">F</span>
    <span class="the_a">A</span>
    <span class="the_m">M</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food"><i class="fas fa-utensils"></i> Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activities"><i class="fas fa-table-tennis"></i> Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/music"><i class="fas fa-music"></i> Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/yourfam"><i class="far fa-heart"></i> Your FAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="far fa-envelope"></i> Contact</a>
      </li>
    </ul>
  </div>
</nav>
