{% extends 'layout.html' %} {% block body %}

<div class="fam_top section text-center">
  <h1 class="title the_a">ACTIVITIES</h1>
  <p>Just as the human body has a “stress response” to certain situations, it also has “relaxation response”, and taking advantage of this can help you deal with stressful situations. Here are some ways to keep your stress to a minimum and some activities to help you do that, including some of our personal favorites!</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2> <Text tester> </h2>
    </div>


    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="http://static5.uk.businessinsider.com/image/583ebcc759a3cf1b008b5552-1000/shutterstock429524353.jpg" class="img-fluid"><div class="overlay">
              <h2>READ A BOOK</h2>
              <p> Reading is one of the best ways to help you relax! Pick up anything, from a photo book of cute pets, to journal entries and tune out from the chaotic world for a few hours.</p>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="../static/images/helensky.png" class="img-fluid"><div class="overlay">
              <h2>SKYDIVE</h2>
              <p>If you're more like Helen and have an undying adventurous streak, release stress by engaging in some extreme sports, like skydiving. It'll be sure to get your mind off things for a while! </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src=" https://media.istockphoto.com/photos/female-hands-stroking-the-dog-picture-id870788242?k=6&m=870788242&s=612x612&w=0&h=ItqLKsU6pkeOx8hpcBqDcHFgh82vHjr-E0tlYfSJUaA="

            class="img-fluid" class="img-fluid"><div class="overlay">
              <h2>PLAY WITH PETS</h2>
              <p>Petting fury animals is not only enjoyable for them, it can also relax you as well, as it can help release “feel good” hormones.  If you don't have pets of your own, click the link below to find out where you can find some to play with for the day!</p>
              <p><a href ="https://www.timeout.com/london/things-to-do/days-out-in-london-for-animal-lovers"> ANIMAL LOVERS CLICK HERE</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="../static/images/beach.png" class="img-fluid"><div class="overlay">
              <h2>RELAX AT THE BEACH</h2>
              <p> Take that much needed break and pamper yourself with a few hours at the beach. According to a study by Health Place, people who live by the coast are reported to have better mental health than those who do not!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="../static/images/josietree2.jpg" class="img-fluid"><div class="overlay">
              <h2>APPRECIATE NATURE</h2>
              <p> Here's Josie destressing by tuning out and appreciating some lovely palm trees! Exposing yourself to nature can contribute to your physical wellbeing and even reduce blood pressure and muscle tension.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="http://www.sportlifeargentina.com/media/cache/frontend_grande/upload/images/article/15800/article-frecuencia-zancada-correr-180-pasos-5adc806331bcc.jpg" class="img-fluid"><div class="overlay">
              <h2>GO FOR A RUN</h2>
              <p>Running can help you cope with acute and long term stress. Not only does it give you time to be alone with your thoughts, running also allows your body to release endorphins, which can help reduce stress and anxiety.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
            <img src="https://img.vimbly.com/images//full_photos/painting-1.jpg"><div class="overlay">
              <h2>PAINT/DRAW</h2>
              <p> Express your creative side and improve your painting/ drawing skills, while de-stressing all at the same time! You can also let it all out and paint or draw pictures that describe your feelings at the time, allowing you to process them and heal.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

<div class="col-sm-4">
  <div class="container" style="margin-top:30px;">
    <div class="row">
      <div class="hovereffect">
        <img src="../static/images/zainabhike.png" class="img-fluid"><div class="overlay">
          <h2>GO HIKING</h2>
          <p>Zainab's favourite thing about hiking is the fact that she can get some exercise done, while surrounding herself in naturally calming surroundings. This gives her the freedom to relax and destress her mind and body!</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect">
             <img src="https://i0.wp.com/thesleepforum.com/wp-content/uploads/2018/06/businessmannapping.jpg?resize=849%2C566&ssl=1" class="img-fluid"><div class="overlay">
             <h2> TAKE A POWER NAP</h2>
             <p>Research shows that you can reduce stress and improve your cognitive functioning by taking a nap! These power naps can also improve your reaction time , efficiency and overall health!</p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <script src="jquery-2.1.4.min.js">
  </script>
  {% endblock %}
