{% extends 'layout.html' %} {% block body %}
<div id="contact_top" class="fam_top section text-center">
  <h1 class="title">CONTACT US</h1>
  <p>Meet the team behind Chill, FAM! We, Helen, Josie and Zainab, are participants of the Code First: Girls summer program and worked together to make this website.</p>
</div>

<div id="contact_middle" class="section flex-container">
  <div id="contact_middle_trio" class="row">
    <div id="bio_helen" class="bio text-center col-xl-4 section">
      <img class="bio_pic rounded-circle" src="../static/images/helen_pic.png" alt="Helen"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </div>
    <div id="bio_josie" class="bio text-center col-xl-4 section">
      <img class="bio_pic rounded-circle" src="../static/images/josie_pic.jpg" alt="Josie"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </div>
    <div id="bio_zainab" class="bio text-center col-xl-4 section">
      <img class="bio_pic rounded-circle" src="../static/images/person.jpg" alt="Zainab"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </div>
  </div>
</div>

<div id="contact_bottom" class="text-center section">
  For the code to this website, visit our <a href="https://github.com/helenism/chill-fam">GitHub repository</a>.
</div>
{% endblock %}
