{% extends 'layout.html' %} {% block body %}
<div id="contact_top" class="fam_top section text-center">
  <h1 class="title">CONTACT US</h1>
  <p>Meet the team behind Chill, FAM! We, Helen, Josie and Zainab, are participants of the Code First: Girls summer program and worked together to make this website.</p>
</div>


<div id="contact_middle_trio" class="row section flex-container">
  <div id="bio_helen" class="bio text-center col-xl-4 section">
    <h2 class="title">HELEN</h2>
    <img class="bio_pic rounded-circle border" src="../static/images/helen_pic.png" alt="Helen">
    <p>Hi, my name is Helen and I am a pharmacist by day and a programmer by night! I enjoy exploring different cultures including their cuisine, long-held traditions and music.
    <hr><br><span class="title">My ideal FAM</span> is definitely eating vegan green tea ice cream after an adrenaline-pumped rollercoaster ride, whilst listening to some indie-rock!</p>
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.</p>-->

    <div class="social_buttons_us border">
      <a href="https://www.instagram.com/_helenism"><i class="fab fa-instagram fa-1x"></i>_helenism</a>
      <a href="https://twitter.com/_helenism"><i class="fab fa-twitter fa-1x"></i>_helenism</a>
    </div>

  </div>

  <div id="bio_josie" class="bio text-center col-xl-4 section">
    <h2 class="title">JOSIE</h2>
    <img class="bio_pic rounded-circle border" src="../static/images/josie_pic.jpg" alt="Josie">
    <p>Hi there! My name is Josephine, but everyone calls me "Josie". I'm a 22 year old master's student in Bioinformatics , who loves to travel, learn different languages and experience different cultures. I also love writing and run a music blog about the art of sampling in hip-hop music. The pressure of my course can sometimes cause me to feel quite stressed, but I do my best to cope with it.
    <hr><br><span class="title">My ideal FAM</span> would be going for a walk on the beach, while listening to some 50's Jazz, and snacking on a banana.</p>

    <div class="social_buttons_us border">
      <a href="https://www.instagram.com/josie_mk1"><i class="fab fa-instagram fa-1x"></i>josie_mk1</a>
      <a href="https://twitter.com/UrbanUbiquity"><i class="fab fa-twitter fa-1x"></i>UrbanUbiquity</a>
    </div>
  </div>

  <div id="bio_zainab" class="bio text-center col-xl-4 section">
    <h2 class="title">ZAINAB</h2>
    <img class="bio_pic rounded-circle border" src="../static/images/zainab_pic.jpg" alt="Zainab">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    <hr><br><span class="title">My ideal FAM</span> is excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="social_buttons_us border">
      <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-1x"></i>Zainab</a>
      <a href="https://twitter.com/"><i class="fab fa-twitter fa-1x"></i>Zainab</a>
    </div>
  </div>
</div>

<div id="repo" class="text-center social_buttons_us">
  <p class="social_buttons_us">For the code to this website, visit our <a href="https://github.com/helenism/chill-fam"><span class="title">GitHub repository</span></a>.</p>
</div>

{% endblock %}
