{% extends 'layout.html' %} {% block body %}

<div id="home_top" class="text-center">
  <h1 class="title">
    <span class="the_f">Chill,</span>
    <span class="the_f">F</span>
    <span class="the_a">A</span>
    <span class="the_m">M</span>
  </h1>
  <p class="lead">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="home_middle" class="section">
  MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>
</div>

<div id="home_bottom" class="section">
  BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>
</div>

{% endblock %}
