{% extends 'layout.html' %} {% block body %}

<div id="home_top" class="text-center">
  <h1 class="title">
    <span class="the_chill">Chill,</span>
    <span class="the_f">F</span>
    <span class="the_a">A</span>
    <span class="the_m">M</span>
  </h1>
  <p class="lead"> We know that living in the city can be stressful, so we've created a space where you can find some inspiration that will help you unwind.</p>
</div>

<!-- SLIDES

div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img_nature_wide.jpg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img_snow_wide.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="img_mountains_wide.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

SLIDES END -->

<div id="home_middle" class="section">
  MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>MIDDLE<br>
</div>

<div id="home_bottom" class="section">
  BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>BOTTOM<br>
</div>

{% endblock %}
