{% extends 'layout.html' %} {% block body %}
<div class="fam_top section text-center">
  <h1 class="title the_m">MUSIC</h1>
  <p class="lead">Music is often linked to mood. A certain song can make us feel happy, sad, energetic, or relaxed. It is generally accepted that both listening to and creating music can have various positive effects on mood and mental health. Incorporating music into
    your everyday life can help to; elevate your mood and motivation, aid relaxation and increase the efficiency of your brain processing. All forms of music may have therapeutic effects. It doesn’t matter which genre you prefer, music can help you unwind
    and deal with tricky emotions. Check out the playlists we like to chill to at the bottom of the page!</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2> <Text tester> </h2>
    </div>



    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="../static/images/jazz.png" class="img-fluid">
            <div class="overlay">
              <h2>JAZZ</h2>
              <p> The syncopated rhythm of jazz releases tension instantly for some people, especially when you slow it down and add a hint of melancholy, this upbeat genre transforms to a soothing genre that'll encourage you to chill.</p>
              <p><a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWXSyfX6gqDNp">CLICK HERE TO CHILL TO SOME JAZZ</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="../static/images/rainforest.png" class="img-fluid">
            <div class="overlay">
              <h2>NATURE</h2>
              <p>TNature sounds have a relaxing effect and can calm the mind. The great thing about the relaxing sound of nature is that you can still listen to it if you forget your earphones at home!</p>
              <p><a href="https://open.spotify.com/user/calmsound/playlist/48sGg4EhRHdrPdurnSoUBH">BUT IF YOU'D PREFER NATURE TO LISTEN ELECTRONICALLY, CLICK HERE</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="https://eu-events.s3.amazonaws.com/uploads/2017/04/iStock-623439058-1.jpg" class="img-fluid">
            <div class="overlay">
              <h2>CLASSICAL</h2>
              <p>Probably the genre that comes to mind when you think of music to unwind to. Classical strings and keys can help you relax and unwind..</p>
              <p><a href="https://open.spotify.com/search/playlists/classical%20">CLICK HERE FOR SOME CLASSICAL MUSIC</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="../static/images/funk.png" class="img-fluid" class="img-fluid">
            <div class="overlay">
              <h2>FUNK</h2>
              <p>FUNK?! Yup, that's right! I know we usually associate the genre with disco balls & fun dance moves but just hear me out on this one... literally.</p>
              <p><a href="https://open.spotify.com/user/123662280/playlist/6rjxZKLtSsyxj2I1VkBlne">CLICK HERE TO LISTEN TO A CHILLED FUNK PLAYLIST</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="http://www.highlightnation.com/wp-content/uploads/2017/06/grime-artists.jpg" class="img-fluid">
            <div class="overlay">
              <h2>GRIME</h2>
              <p>This might not be the first genre that comes to mind when you want to unwind and relax however, the genre has its rare gems that can help you chill.</p>
              <p><a href="https://open.spotify.com/user/amyz23/playlist/7ppwau1XzaZvvW6qnBbjuE">CLICK HERE FOR SOME CHILLED GRIME</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <div class="hovereffect hover_m">
            <img src="https://i.pinimg.com/736x/dd/a4/3e/dda43ebdb1328859c5246cd3bf95665d--drum-paths.jpg" class="img-fluid">
            <div class="overlay">
              <h2>EDM</h2>
              <p> This genre is usually associated with nightclubs, raves and festivals but it also has it's more serene and mellow tracks that help you also feel more serene and mellow. .</p>
              <p><a href="https://open.spotify.com/user/amyz23/playlist/7ppwau1XzaZvvW6qnBbjuE">CLICK HERE FOR SOME COOL EDM</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <iframe src="https://open.spotify.com/embed?uri=spotify:user:_helenism:playlist:2Sfe1fPEMb1ir99oYgAdYR" width="450" height="295" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <iframe src="https://open.spotify.com/embed?uri=spotify:user:g4i9kxpv1oxozc18ciq68wd2o:playlist:0Ndz37xpxGMTisCFSccuVB" width="450" height="295" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container" style="margin-top:30px;">
        <div class="row">
          <iframe src="https://open.spotify.com/embed?uri=spotify:user:josiemk-gb:playlist:4HKU9yybGizCijcMgvQ6uS" width="450" height="295" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>


    <script src="jquery-2.1.4.min.js">
    </script>
    {% endblock %}
