{% extends 'layout.html' %} {% block body %}
<div id="yourfam_top" class="fam_top section text-center">
  <h1 class="title">YOUR FAM</h1>
  <p>Loremipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
</div>

<div class="text-center">
  <button id="fam_btn" type="button" class="btn" onclick="randomcombo()">Click to find your <span class="title">
    <span class="the_f">F</span>
    <span class="the_a">A</span>
    <span class="the_m">M</span>
  </span>
</button>
</div>

<div class="card-deck">
  <!-- FOOD -->
  <div id="food_all" class="card section">
    <div id="fooddiv1" class="fam">
      <img class="card-img-top" src="https://www.wcrf-uk.org/sites/default/files/Apple_A-Z%20Fruit1.jpg" alt="apple">
      <div class="card-body">
        <h5 class="card-title">Apple</h5>
        <p class="card-text">F1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="fooddiv2" class="fam">
      <img class="card-img-top" src="https://www.bbcgoodfood.com/sites/default/files/glossary/banana-crop.jpg" alt="banana">
      <div class="card-body">
        <h5 class="card-title">Banana</h5>
        <p class="card-text">F2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="fooddiv3" class="fam">
      <img class="card-img-top" src="https://media.gettyimages.com/photos/carrot-on-white-picture-id160060077?b=1&k=6&m=160060077&s=612x612&w=0&h=3cMh9uhqodio7JFMLpHxmRZXIn-MbdWZKyMub2pi6rs=" alt="carrot">
      <div class="card-body">
        <h5 class="card-title">Carrot</h5>
        <p class="card-text">F3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="fooddiv4" class="fam">
      <img class="card-img-top" src="https://truffle-assets.imgix.net/ce5c2c23-giant-donut_sc.jpg" alt="donut">
      <div class="card-body">
        <h5 class="card-title">Donut</h5>
        <p class="card-text">F4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="fooddiv5" class="fam">
      <img class="card-img-top" src="https://assets.bonappetit.com/photos/58c9589584ebdb0ec55e365b/16:9/w_2560,c_limit/hard-boiled-eggs.jpg" alt="egg">
      <div class="card-body">
        <h5 class="card-title">Egg</h5>
        <p class="card-text">F5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  <!-- ACTIVITIES -->
  <div id="activities_all" class="card section">
    <div id="actdiv1" class="fam">
      <img class="card-img-top" src="https://content.ticketarena.co.uk/media/8121/170902_junkyardgolf_020.jpg" alt="junkyard golf">
      <div class="card-body">
        <h5 class="card-title">Junkyard Golf</h5>
        <p class="card-text">A1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="actdiv2" class="fam">
      <img class="card-img-top" src="https://media.timeout.com/images/103762807/630/472/image.jpg" alt="bounce ping-pong">
      <div class="card-body">
        <h5 class="card-title">Bounce Ping-Pong</h5>
        <p class="card-text">A2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="actdiv3" class="fam">
      <img class="card-img-top" src="http://www.cityoki.com/wp-content/uploads/2015/09/LO-Hyde-park.jpg" alt="hyde park">
      <div class="card-body">
        <h5 class="card-title">Hyde Park</h5>
        <p class="card-text">A3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="actdiv4" class="fam">
      <img class="card-img-top" src="http://d1s9j44aio5gjs.cloudfront.net/2016/07/The_Benefits_of_Swimming.jpg" alt="swim">
      <div class="card-body">
        <h5 class="card-title">Swimming</h5>
        <p class="card-text">A4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="actdiv5" class="fam">
      <img class="card-img-top" src="https://coursehorse.imgix.net/images/course/352/main/painting_lounge_5612731658412.png" alt="paint">
      <div class="card-body">
        <h5 class="card-title">Painting</h5>
        <p class="card-text">A5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  <!-- MUSIC -->
  <div id="music_all" class="card section">
    <div id="musicdiv1" class="fam">
      <img class="card-img-top" src="https://i0.wp.com/www.stnicholaskenilworth.org.uk/wp-content/uploads/2018/04/jazz.jpg" alt="jazz">
      <div class="card-body">
        <h5 class="card-title">Jazz</h5>
        <p class="card-text">A1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="musicdiv2" class="fam">
      <img class="card-img-top" src="https://i.ytimg.com/vi/tlb7AASoeS8/maxresdefault.jpg" alt="classical">
      <div class="card-body">
        <h5 class="card-title">Classical Music</h5>
        <p class="card-text">A2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="musicdiv3" class="fam">
      <img class="card-img-top" src="http://www.wow247.co.uk/wp-content/uploads/2014/09/gene-simmons.jpg" alt="rock">
      <div class="card-body">
        <h5 class="card-title">Rock</h5>
        <p class="card-text">A3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="musicdiv4" class="fam">
      <img class="card-img-top" src="https://static1.squarespace.com/static/4f705ee1e4b0aad9750e2e27/t/57679a316a49633b449562dc/1466407480715/?format=1500w" alt="indie">
      <div class="card-body">
        <h5 class="card-title">Indie</h5>
        <p class="card-text">A4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div id="musicdiv5" class="fam">
      <img class="card-img-top" src="https://static.spin.com/files/120601-k-pop-list.png" alt="kpop">
      <div class="card-body">
        <h5 class="card-title">K-POP</h5>
        <p class="card-text">A5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
